@font-face {
    font-family: 'Overpass';
    src: url(/fonts/Overpass-Italic-VariableFont_wght.ttf);
}

body {
    background-color: #141519;
    display: grid;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

h1 {
    font-family: 'Overpass';
    color: hsl(0, 0%, 100%);
}

p {
    font-size: 15px;
    font-family: 'Overpass';
    color: hsl(217, 12%, 63%);
}

button {
    cursor: pointer;
}

.card {
    background-color: #1E252F;
    border-radius: 15px;
    max-width: 20rem;
    padding: 25px;
}

.card:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.card button {
    border: none;
    width: 100%;
}

.star {
    padding: 15px;
    border-radius: 100%;
    background-color: hsl(213, 19%, 18%);

}

.btngrp {
    font-family: 'Overpass';
    font-size: 15px;
    padding: 15px;
    border-radius: 100%;
    background-color: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
    align-items: center;
    justify-content: center;
    margin: 7px;
}

.btngrp button {
    margin: 10px;
}

.btngrp:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.btngrp:focus {
    background-color: hsl(216, 12%, 54%);
    color: white;
}

.inline {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.submit {
    margin-top: 20px;
    font-family: 'Overpass';
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
}

.submit:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.card-flip {
    background-color: #1E252F;
    border-radius: 15px;
    max-width: 20rem;
    padding: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Overpass';
}

.label {
    background-color: hsl(213, 19%, 18%);
    color: hsl(25, 97%, 53%);
    padding: 5px 20px 5px 20px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-bottom: 30px;
    border-radius: 20px;
    font-family: 'Overpass';
}

#flip-card {
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -o-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
